.aboutBody {
  background-color: #000000;
  padding-top: 60px;
}

.h1AboutUs {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom:40px;
}

.slick-track{
  margin-bottom: 50px;
  justify-content: space-around;
}

.pAboutUs {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.aboutBlock {
  margin: 10px auto 80px;
  width: 100% !important;
  height: 520px;
}
.aboutContainer {
  width: 275px !important;
  height: 340px;
  margin: 10px 5px 80px;
  padding: 50px 0;
}

.aboutItem {
  flex-grow: 1;
  width: 100%;
  height: 350px;
  position: relative;
  transition: all 300ms ease-in-out;
  border-radius: 10px;
}

.aboutItem:hover {
  flex-grow: 3.3;
  transform: scaleX(1.1) scaleY(1.2);
}

.aboutItem:before {
  content: attr(data-order);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.mainWhyUs {
  background-color: white;
  width: 100%;
  height: 700px;
}

.h1WhyUs {
  padding-top: 55px;
  font-size: 50px;
  text-align: center;
  color: black;
}

.containerWhyUs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 140px;
}

.boxWhyUs {
  width: 250px;
  height: 200px;
  margin: 0px 80px 0px 80px;
}

.blockWhyUs {
  margin-left: 35%;
}

.imgBgWhyUs {
  background-color: black;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.imgWhyUs1 {
  margin-top: 24px;
  margin-left: 14px;
}
.imgWhyUs2 {
  margin-top: 12px;
  margin-left: 13px;
}
.imgWhyUs3 {
  margin-top: 13px;
  margin-left: 20px;
}
.imgWhyUs4 {
  margin-top: 13px;
  margin-left: 15px;
}
.imgWhyUs5 {
  margin-top: 20px;
  margin-left: 14px;
}
.aboutP{
  color: black;
  margin-top: 15px;
}

.boxWhyUs p {
  text-align: center;
}
