
.avaMain{
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    background-color: #1a1a1a;
}
.avaReviewH1{
    margin-top: 70px;
    font-size: 55px;
    margin-bottom: 70px;
}
h1 {
    text-align: center;
    height: 61px;
}
.tac {
    text-align: center;
}

.bgImg {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 180px;
    border-radius: 100%;
    box-shadow: rgba(224, 221, 221, 0.78) 0px 22px 70px 4px;
    margin: auto;
    display: flex;
    align-items: center;
    transform: translateY(-70px);
    justify-content: center;
    padding: 17px;

}

.reviewImg {
    position: center;
    width: 100%;
    height: 100%;
}

.reviewsContainer {
    padding-bottom: 75px;
    height: 100%;
    padding-top: 10px;
}
.container__item {
    display: flex;
    width: 916px;
    margin: 70px auto 0;
    justify-content: space-between;
    padding-top: 60px;
    flex-wrap: wrap;
}
.container__card {
    background-color: #479f77;
    width: 278px;
    height: auto;
    border-radius: 20px;
}
.container__card-title {
    text-align: center;
    height: 23px;
    font-weight: 600;
    transform: translateY(-50px);
}
.container__card-text {
    margin: auto ;
    font-weight: 300;
    height: 110px;
    width: 226px;
    font-size: 18px;
    line-height: 128.9%;
    transform: translateY(-25px);
}
